# API URL for the FastAPI Backend (Used in Edge Middleware to proxy requests and frontend calls)
NEXT_PUBLIC_API_URL=http://localhost:8000

# Upstash Redis connection for Edge Middleware (Caching & Analytics)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
